*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h2 {
  text-align: center;
  grid-column: 1/-1;
}

#error {
  text-align: center;
}

.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #52bdea;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#remove-favourites-container {
  display: none;
  width: 800px;
  margin: auto;
}

#remove-favourites {
  border: none;
  color: white;
  background-color: hsl(0, 100%, 40%);
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1rem;
  padding: 0.5rem;
}
#remove-favourites:hover {
  background-color: hsl(0, 100%, 50%);
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.input {
  position: relative;
  width: 800px;
  margin: auto;
}

#song-search {
  width: 762px;
  margin: 1rem;
}

.fav-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 2px;
  right: 2px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
.chuni-fav-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 2px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

#dropdown-nav {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}

#game-nav {
  display: none;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  padding: 0.5rem;
  align-items: flex-start;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background-color: #595959;
}

.menu-link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.fav-icon {
  width: 100%;
  height: auto;
}

.page-title,
.chuni-page-title,
.maimai-page-title {
  text-align: center;
  color: black;
}

.page-title:hover {
  color: #52bdea;
}

.chuni-page-title:hover {
  color: #fdd501;
}

.home-link {
  display: block;
  width: fit-content;
  text-decoration: none;
  margin: auto;
}

.song-container {
  margin: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.8),
    rgba(50, 50, 50, 0.6)
  );
  color: white;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.song-container-maimai {
  margin: 2rem 1rem;
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.chuni-song-container {
  margin: 1rem auto;
  gap: 0.5rem;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.8),
    rgba(50, 50, 50, 0.6)
  );
  color: white;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  overflow: hidden;
}

.song-data-container {
  width: 90%;
  display: flex;
  gap: 1rem;
}

.song-container > * {
  margin: 0.5rem;
}

.song-jacket {
  border: 3px solid black;
  width: 196px;
  height: 196px;
}

.chuni-song-jacket {
  border: 3px solid black;
  width: 126px;
  height: 126px;
}

.mai-song-jacket {
  border: 3px solid black;
  width: 25%;
  height: 25%;
}

.chuni-song-info {
  width: 50%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-evenly;
}

#results {
  width: 800px;
  margin: auto;
}

#recent {
  width: 800px;
  margin: auto;
}

#favourites {
  width: 800px;
  margin: auto;
}

#chuni-favourites,
#chuni-recent,
#chuni-results {
  width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

#random {
  width: 800px;
  margin: auto;
}

.lunatic-detail {
  display: grid;
  grid-template-columns: 96px;
  gap: 0.5rem;
  justify-items: center;
}

.lunatic-shadow {
  text-shadow: 0 0 1.5em rgba(248, 255, 47, 0.5),
    0 0 1.5em rgba(248, 255, 47, 0.5), 0 0 1.5em rgba(248, 255, 47, 0.5),
    0 0 1.5em rgba(248, 255, 47, 0.5);
}

.song-info {
  width: 430px;
}

.chuni-song-level {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  text-align: center;
  width: 90%;
  justify-content: center;
}

.chuni-song-level > * {
  width: 20%;
  padding: 0.25rem;
}

.mai-song-level {
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.mai-song-level-container {
  background-color: white;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.5rem;
  margin: 2px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text-shadow {
  text-shadow: 0 1px 2px #000;
}

.mai-level-ul {
  display: flex;
  gap: 0.75rem;
  margin: 0;
}

.std-chart {
  line-height: 35px;
  width: 140px;
  text-align: center;
  border-radius: 10px;
  background-color: #48aef9;
  height: 35px;
  font-weight: bold;
  font-size: 1.25rem;
}

.dx-chart {
  line-height: 35px;
  width: 140px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  border: 2px solid #48aef9;
  color: #000;
  height: 35px;
  font-weight: bold;
  font-size: 1.25rem;
}

.mai-level-ul > * {
  list-style: none;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  text-shadow: 0 1px 2px #000;
  font-size: x-large;
}

.mai-song-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5%;
  padding-top: 2%;
  margin-bottom: 2%;
}

.mai-song-inner-container {
  width: 70%;
  margin: auto 0;
}

.mai-category-flag {
  position: absolute;
  color: white;
  top: -8%;
  right: 10%;
  border-radius: 5px;
  padding: 0.25rem;
  border: 2px solid white;
  font-size: 1.5rem;
}

.mai-song-title {
  font-size: x-large;
  font-weight: bold;
  border-bottom: 2px dotted #fff;
  margin-bottom: 0.5rem;
}
.song-level {
  display: grid;
  grid-template-columns: 48px 48px;
  gap: 0.5rem;
}

.flex-col {
  flex-direction: column;
}
.song-level > * {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: white;
  border-radius: 50px;
}

.lunatic-level {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: white;
  border-radius: 50px;
}

.tabs {
  width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.tab-btn,
.chuni-tab-btn,
.maimai-tab-btn {
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.tab-btn:hover,
.active,
.ongeki-link:hover,
.page-title:hover {
  color: #52bdea;
}

.chuni-tab-btn:hover,
.chuni-tab-active,
.chuni-link:hover,
.chuni-page-title:hover {
  color: #fdd501;
}

.maimai-tab-btn:hover,
.maimai-tab-active,
.maimai-link:hover,
.maimai-page-title:hover {
  color: #ec2036;
}

.text-center {
  text-align: center;
}

.display-flex {
  display: flex;
}

.scroll-top {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  z-index: 99;
}

.red {
  color: #fc4647;
}
.blue {
  color: #06a6e7;
}
.yellow {
  color: #fbde00;
}
.green {
  color: #98c94c;
}
.orange {
  color: #fea227;
}

.basic {
  background-color: #16ff48;
}

.advanced {
  background-color: #ffba00;
}

.expert {
  background-color: #fa0667;
}

.master {
  background-color: #a810ff;
}

.lunatic-bg {
  background-color: #f8ff2f;
  color: black;
}

.オンゲキ {
  color: #ff7dab;
}
.POPS＆ANIME {
  color: #f06;
}
.niconico {
  color: #ffd822;
}
.東方Project {
  color: #cf3eff;
}
.VARIETY {
  color: #00c312;
}

.チュウマイ {
  color: #42b6ff;
}

.lunatic {
  color: #f8ff2f;
}

.ボーナストラック {
  color: orange;
}

.chuni-イロドリミドリ {
  background-color: #f85faf;
}

.chuni-ゲキマイ {
  background-color: #593dc5;
}

.chuni-pops {
  background-color: #ff2073;
}

.chuni-niconico {
  background-color: #8d1be5;
}

.chuni-ORIGINAL {
  background-color: #ff7e00;
}

.chuni-東方Project {
  background-color: #0064d6;
}

.chuni-VARIETY {
  background-color: #00995b;
}

.worlds-end {
  background-color: black;
}

.mai-maimai {
  background-color: #ff4646;
  box-shadow: 0 2px 0 0 #b54253;
}

.mai-POPS＆アニメ {
  background-color: #ff9c24;
  box-shadow: 0 2px 0 0 #b57e3b;
}

.mai-niconico＆ボーカロイド {
  background-color: #12b4ff;
  box-shadow: 0 2px 0 0 #1096dc;
}

.mai-東方Project {
  background-color: #c96feb;
  box-shadow: 0 2px 0 0 #905ec6;
}

.mai-ゲーム＆バラエティ {
  background-color: #6ae03e;
  box-shadow: 0 2px 0 0 #4dad4e;
}

.mai-オンゲキ＆CHUNITHM {
  background-color: #319df8;
  box-shadow: 0 2px 0 0 #267fcf;
}

.mai-宴会場 {
  background-color: #dc39b8;
  box-shadow: 0 2px 0 0 #b12876;
}

.remaster {
  color: #c346e7;
  border: 1px solid #c346e7;
  text-align: center;
  line-height: 48px;
}

.we-star,
.we-kanji {
  width: 40%;
  color: #ffcc00;
  font-size: 1rem;
  background-image: url(/bg_navyblue.png.webp);
  height: 2rem;
}

.star1::before {
  content: "☆";
}
.star3::before {
  content: "☆☆";
}
.star5::before {
  content: "☆☆☆";
}
.star7::before {
  content: "☆☆☆☆";
}
.star9::before {
  content: "☆☆☆☆☆";
}

.chuni-category {
  width: 90%;
  padding: 0.2rem;
  text-align: center;
}

.ultima {
  background-color: #ff173e;
  border: 1px solid black;
}

.newflag {
  background-color: #ec2036;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  transform: rotate(-43deg) translate(-23px, -49px);
  transform-origin: 100% 0;
}

.song-artist {
  font-size: 0.75em;
}

.chart-link {
  overflow: hidden;
  text-decoration: none;
  color: white;
}

.black {
  color: black;
}

@media (max-width: 800px) {
  .input,
  .tabs,
  #song-search,
  #results,
  #recent,
  #favourites,
  #remove-favourites-container,
  #random,
  #chuni-results,
  #chuni-recent,
  #chuni-favourites {
    width: 90%;
  }

  #chuni-recent,
  #chuni-favourites,
  #chuni-results {
    display: flex;
    flex-direction: column;
  }

  .song-container {
    width: 90%;
    flex-wrap: wrap;
  }
  .song-jacket {
    width: 30%;
    height: 30%;
  }

  .chuni-song-jacket {
    width: 40%;
    height: 40%;
    max-width: 126px;
    max-height: 126px;
  }
  .song-info {
    width: 50%;
    font-size: 0.9rem;
    flex: 1;
  }
  .song-level,
  .lunatic-detail {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    width: 90%;
    margin: 0.25rem auto;
  }
  .song-level > *,
  .lunatic-level {
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
  .scroll-top {
    width: 40px;
    height: 40px;
    border: 2px black solid;
    padding: 0;
  }

  .lunatic-detail {
    align-items: center;
  }

  #arrow-up {
    width: 36px;
    height: 36px;
  }

  .mai-song-container {
    flex-wrap: nowrap;
    margin-top: 20px;
  }

  .mai-category-flag,
  .mai-song-title {
    font-size: 0.8rem;
  }

  .mai-song-level {
    width: 95%;
  }

  .mai-level-ul {
    display: flex;
    gap: 0.2rem;
    margin: 0;
    width: 80%;
    padding-inline-start: 0.5rem;
    justify-content: space-evenly;
  }

  .mai-level-ul > * {
    width: 20%;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
  }

  .remaster {
    line-height: 28px;
  }

  .dx-chart,
  .std-chart {
    min-width: 80px;
    width: 20%;
    font-size: 0.8rem;
  }
}
