h2 {
  text-align: center;
}

#loading {
  display: none;
  width: 100%;
  text-align: center;
}

.input {
  width: 800px;
  margin: auto;
}

#song-search {
  width: 762px;
  margin: 1rem;
}

.fav-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 2px;
  right: 2px;
  border: none;
  background: none;
  padding: 0;
}

.fav-icon {
  width: 100%;
  height: auto;
}

.page-title {
  text-align: center;
  color: black;
}

.page-title:hover {
  color: #52bdea;
}

.home-link {
  text-decoration: none;
}

.song-container {
  margin: 1rem;
  display: flex;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.61);
  color: white;
  border-radius: 10px;
  border: 3px solid black;
  position: relative;
}

.song-container > * {
  margin: 0.5rem;
}

.song-jacket {
  border: 3px solid black;
  width: 196px;
  height: 196px;
}

#results {
  width: 800px;
  margin: auto;
}

#recent {
  width: 800px;
  margin: auto;
}

#favourites {
  width: 800px;
  margin: auto;
}

.song-info {
  width: 430px;
}

.song-level {
  display: grid;
  grid-template-columns: 48px 48px;
  gap: 0.5rem;
}

.song-level > * {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: white;
  border-radius: 50px;
}

.tabs {
  width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.tab-btn {
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.tab-btn:hover,
.active {
  color: #52bdea;
}

.basic {
  background-color: #16ff48;
}

.advanced {
  background-color: #ffba00;
}

.expert {
  background-color: #fa0667;
}

.master {
  background-color: #a810ff;
}

.オンゲキ {
  color: #ff7dab;
}
.POPS＆ANIME {
  color: #f06;
}
.niconico {
  color: #ffd822;
}
.東方Project {
  color: #cf3eff;
}
.VARIETY {
  color: #00c312;
}

.チュウマイ {
  color: #42b6ff;
}

.lunatic {
  color: #f8ff2f;
}

.bonustrack {
  color: orange;
}
