*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h2 {
  text-align: center;
  grid-column: 1/-1;
}

#error {
  text-align: center;
}

.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #52bdea;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#remove-favourites-container {
  display: none;
  width: 800px;
  margin: auto;
}

#remove-favourites {
  border: none;
  color: white;
  background-color: hsl(0, 100%, 40%);
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1rem;
  padding: 0.5rem;
}
#remove-favourites:hover {
  background-color: hsl(0, 100%, 50%);
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.input {
  position: relative;
  width: 800px;
  margin: auto;
}

#song-search {
  width: 762px;
  margin: 1rem;
}

.fav-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 2px;
  right: 2px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
.chuni-fav-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 2px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

#dropdown-nav {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}

#game-nav {
  display: none;
  list-style: none;
  position: absolute;
  top: 1rem;
  padding: 0;
  left: 0.5rem;
}

.fav-icon {
  width: 100%;
  height: auto;
}

.page-title,
.chuni-page-title {
  text-align: center;
  color: black;
}

.page-title:hover {
  color: #52bdea;
}

.chuni-page-title:hover {
  color: #fdd501;
}

.home-link {
  display: block;
  width: fit-content;
  text-decoration: none;
  margin: auto;
}

.song-container {
  margin: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.8),
    rgba(50, 50, 50, 0.6)
  );
  color: white;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.chuni-song-container {
  margin: 1rem auto;
  gap: 0.5rem;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.8),
    rgba(50, 50, 50, 0.6)
  );
  color: white;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  overflow: hidden;
}

.song-data-container {
  width: 90%;
  display: flex;
  gap: 1rem;
}

.song-container > * {
  margin: 0.5rem;
}

.song-jacket {
  border: 3px solid black;
  width: 196px;
  height: 196px;
}

.chuni-song-jacket {
  border: 3px solid black;
  width: 126px;
  height: 126px;
}

.chuni-song-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#results {
  width: 800px;
  margin: auto;
}

#recent {
  width: 800px;
  margin: auto;
}

#favourites {
  width: 800px;
  margin: auto;
}

#chuni-favourites,
#chuni-recent,
#chuni-results {
  width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

#random {
  width: 800px;
  margin: auto;
}

.lunatic-detail {
  display: grid;
  grid-template-columns: 96px;
  gap: 0.5rem;
  justify-items: center;
}

.lunatic-shadow {
  text-shadow: 0 0 1.5em rgba(248, 255, 47, 0.5),
    0 0 1.5em rgba(248, 255, 47, 0.5), 0 0 1.5em rgba(248, 255, 47, 0.5),
    0 0 1.5em rgba(248, 255, 47, 0.5);
}

.song-info {
  width: 430px;
}

.chuni-song-level {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  text-align: center;
  width: 90%;
  justify-content: center;
}

.chuni-song-level > * {
  width: 20%;
  padding: 0.25rem;
}

.song-level {
  display: grid;
  grid-template-columns: 48px 48px;
  gap: 0.5rem;
}

.song-level > * {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: white;
  border-radius: 50px;
}

.lunatic-level {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: white;
  border-radius: 50px;
}

.tabs {
  width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.tab-btn,
.chuni-tab-btn {
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.tab-btn:hover,
.active {
  color: #52bdea;
}

.chuni-tab-btn:hover,
.chuni-tab-active {
  color: #fdd501;
}

.text-center {
  text-align: center;
}

.scroll-top {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  z-index: 99;
}

.basic {
  background-color: #16ff48;
}

.advanced {
  background-color: #ffba00;
}

.expert {
  background-color: #fa0667;
}

.master {
  background-color: #a810ff;
}

.lunatic-bg {
  background-color: #f8ff2f;
  color: black;
}

.オンゲキ {
  color: #ff7dab;
}
.POPS＆ANIME {
  color: #f06;
}
.niconico {
  color: #ffd822;
}
.東方Project {
  color: #cf3eff;
}
.VARIETY {
  color: #00c312;
}

.チュウマイ {
  color: #42b6ff;
}

.lunatic {
  color: #f8ff2f;
}

.ボーナストラック {
  color: orange;
}

.chuni-イロドリミドリ {
  background-color: #f85faf;
}

.chuni-ゲキマイ {
  background-color: #593dc5;
}

.chuni-pops {
  background-color: #ff2073;
}

.chuni-niconico {
  background-color: #8d1be5;
}

.chuni-ORIGINAL {
  background-color: #ff7e00;
}

.chuni-東方Project {
  background-color: #0064d6;
}

.chuni-VARIETY {
  background-color: #00995b;
}

.chuni-category {
  width: 90%;
  padding: 0.2rem;
  text-align: center;
}

.ultima {
  background-color: #ff173e;
  border: 1px solid black;
}

.newflag {
  background-color: #ec2036;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  transform: rotate(-43deg) translate(-23px, -49px);
  transform-origin: 100% 0;
}

@media (max-width: 800px) {
  .input,
  .tabs,
  #song-search,
  #results,
  #recent,
  #favourites,
  #remove-favourites-container,
  #random {
    width: 90%;
  }

  .song-container {
    width: 90%;
    flex-wrap: wrap;
  }
  .song-jacket {
    width: 30%;
    height: 30%;
  }
  .song-info {
    width: 50%;
    font-size: 0.9rem;
    flex: 1;
  }
  .song-level,
  .lunatic-detail {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    width: 90%;
    margin: 0.25rem auto;
  }
  .song-level > *,
  .lunatic-level {
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
  .scroll-top {
    width: 40px;
    height: 40px;
    border: 2px black solid;
    padding: 0;
  }

  .lunatic-detail {
    align-items: center;
  }

  #arrow-up {
    width: 36px;
    height: 36px;
  }
}
